<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CYTProgress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81D5C3A31E8A030C002ACD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D5C3BC1E8A030C002ACD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D5C3C71E8A030C002ACD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
